


.colored-item-1 {

    background-color: #00487b;
}
.colored-item-2{
    background-color: #5e98cf;
}
.colored-item-3 {
    background-color: #494D8E;
}
.colored-item-4 {
    background-color: #D74C7E;
}
.colored-item-5 {
    background-color: #AF4B90;
}
.colored-item-6 {
    background-color: #EB5C44;
}
.colored-item-7 {
    background-color: #f6971c;
}
.colored-item-8{
    background-color: #FC7544;
}
